body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/trabajo-practico-colaborativo-grupo-1/assets/imgs/marco.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    background-color: #2c3639;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 15px;
}

h1{ 
    color: #e3ebf2;
    font-size: 3rem;
    margin-top: auto;
}

h2 {
    color: #e3ebf2;
/*     justify-content: ; */
}

.nav-bar0 ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin-top: auto;
    justify-content: center;
}
.nav-bar0 li a{ 
    text-decoration: none;
    color: #e3ebf2;
    background-color: #2c3639;
    padding:  0.5rem 1rem;
    border-radius: 20px;
    transition: backround-color 0.3s;
}
.nav-bar0 li a:hover {
    background-color:#ceb190;
    color: #2c3639;
    }

.nav-bar1 {
    margin: 0;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cajaTotal {
    display: flex;
    flex-direction: column;
    margin: 15px 60px 50px 60px;
    padding: 50px;
/*     background-color: #045691; */
    width: auto;
    height: auto;
    gap: 10px;
}



.subCaja1 {
    background-color: #CEB190;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
/*     padding: 25px 25px 0 25px; */
}

.cajaArtista1 {
    background-color: #5E3023;
    height: fit-content;
    width: auto;
    border-radius: 20px;
    margin: 20px 0 20px 20px;
    padding: 0 8px 0  8px;
}

.artistaNombre1 {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;  
}

img {
    height: 250px;
    border-radius: 25px;
    display: block;
    margin: 0 auto 15px auto;

/*     border-color: black;
    border-style: solid; */
}

.infoArtista1 {
    padding: 25px 10px 20px 10px;
/*     background-color: white; */  /*Lo dejo para cuando necesite orientarme*/
    margin: 0 15px 0 0;
    text-align: justify;
}

.subCaja2 {
    background-color: #CEB190;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
/*     padding: 25px 25px 0 25px; */
}

.cajaArtista2 {
    background-color: #5E3023;
    height: fit-content;
    width: auto;
    border-radius: 20px;
    margin: 20px 20px 20px 0;
    padding: 0 8px 0  8px;
}

.artistaNombre2 {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;  
}

.infoArtista2 {
    padding: 25px 10px 20px 10px;
/*     background-color: white; */  /*Lo dejo para cuando necesite orientarme*/
    margin: 0 15px 0 15px;
    text-align: justify;
}

.subCaja3 {
    background-color: #CEB190;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
/*     padding: 25px 25px 0 25px; */
}

.cajaArtista3 {
    background-color: #5E3023;
    height: fit-content;
    width: auto;
    border-radius: 20px;
    margin: 20px 0 20px 20px;
    padding: 0 8px 0  8px;
}

.artistaNombre3 {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;  
}

.infoArtista3 {
    padding: 25px 10px 20px 10px;
/*     background-color: white; */  /*Lo dejo para cuando necesite orientarme*/
    margin: 0 15px 0 0;
    text-align: justify;
}

.subCaja4 {
/*     background-color: greenyellow; */
    height: 300px;
    width: auto;
    display: flex;
    gap: 5px;
    align-items: center;
}

.cajaTresArtistas1 {
    background-color: #CEB190;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.fondoMillais {
    position: absolute;
    width: 85%;
    height: auto;
    z-index: 1;
    margin: auto;
    border-radius: 100px;
}

.millaisRedondeado {
/*     border-radius: 50px; */
    height: auto;
    width: 65px;
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.0);
/*     border-color: white; */ /* sirve de guía */
    border-style: solid;
    margin: 10px;
}


.cajaTresArtistas2 {
    background-color: #CEB190;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fondoBosco {
    position: absolute;
    width: 85%;
    height: auto;
    z-index: 1;
    margin: auto;
    border-radius: 60px;
}

.boscoRedondeado {
    height: auto;
    width: 75px;
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.0);
    border-style: solid;
    margin: 10px;
}

.cajaTresArtistas3 {
    background-color: #CEB190;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.fondoLeonardo {
    position: absolute;
    width: 50%;
    height: auto;
    z-index: 1;
    margin: auto;
}

.leonardoRedondeado {
/*     border-radius: 50px; */
    height: auto;
    width: 65px;
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.0);
/*     border-color: white; */ /* sirve de guía */
    border-style: solid;
    margin: 10px;
}

